$primary-color: #e6ebe0;
$secondary-color: #679436;
$tertiary-color: #457eac;

html {
  height: 100%;
  // width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: $primary-color;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  height: 100%;
  // width: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: $primary-color;
}

body::-webkit-scrollbar-thumb {
  background: #3d2a29;
}

body::-webkit-scrollbar-thumb:hover {
  background: #181110;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $secondary-color;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 3;
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.bold {
  font-weight: bold;
}

@media (max-width: 500px) {
  .App {
    // height: auto;
  }

  #footer-text {
    font-size: 13px;
  }
}
