@import "../styles";

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-gap: 1rem;
  list-style-type: none;
  justify-content: center;
  padding: 1rem 0;
  width: 90%;
  margin: 0;
}
ul > * {
  width: 1/3 * 90%;
}

@media (max-width: 500px) {
  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    * {
      width: 90%;
    }
  }
}
