@import "../styles";

.select-div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  color: $tertiary-color;
}

.select-label {
  font-weight: bold;
  margin: 0.5rem;
  color: $tertiary-color;
  width: 100%;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.custom-select {
  background-color: transparent;
  color: $primary-color;
  text-align: center;
  text-align-last: center;
  font-size: 1.3rem;
  font-weight: bold;
  height: 100%;
  border: 1px $primary-color solid;

  option {
    background-color: $secondary-color;
  }
}
