@import "../../scenes/Home/components/App";

header {
  width: 100%;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 0.5rem;
  background-color: $secondary-color;
  color: #051824;
  .icon {
    color: #3d2a29;
    margin: 0 1rem 0 0;
  }
}
