@import "../../scenes/Home/components/App";

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #051824;
  #footer-icon {
    color: #3d2a29;
  }
  background: $secondary-color;
  width: 100%;
  padding: 0.3rem;
  // border: 1px red solid;
  font-size: 100%;
}

p {
  margin: 0;
}

#footer-text {
  .portfolio-link {
    text-decoration: none;
    color: #3d2a29;
    font-weight: bold;
  }

  .portfolio-link:hover {
    text-decoration: none;
    color: #051824;
  }
}
